<% if record.errors.any? %>
	<div id ="error_explanation">
		<h2><%= pluralize(record.errors.count,"error") %> prohibited this <%= record.class.model_name.human %> from being saved:</h2>

		<!--div class= "alert alert-error"-->
			<!--There are <%= pluralize @user.errors.count, "error" %> -->			
		<ul>
			<% record.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
		</div>
<% end %>